<template>
  <div class="hello">
    <MDBBtn color="link" size="sm" rounded class="fw-bold" :ripple="{ color: 'dark' }">
      <router-link to="/">Retour</router-link>
    </MDBBtn>
    <form v-on:submit.prevent="submitForm" method="POST">
      <!-- Title input -->
      <MDBInput type="text" label="Titre" name="title" id="form4Name" v-model="form.title" wrapperClass="mb-4" />

      <!-- Montant input -->
      <MDBInput type="number" required label="Montant" name="montant" id="form4Email" v-model="form.montant"
        wrapperClass="mb-4" />

      <!-- Month Input -->
      <label for="floatingSelect">Mois</label>
      <select class="form-select mb-3" id="floatingSelect" required v-model="form.month">
        <option name="month" value="Janvier">Janvier</option>
        <option name="month" value="Février">Février</option>
        <option name="month" value="Mars">Mars</option>
        <option name="month" value="Avril">Avril</option>
        <option name="month" value="Mai">Mai</option>
        <option name="month" value="Juin">Juin</option>
        <option name="month" value="Juillet">Juillet</option>
        <option name="month" value="Août">Août</option>
        <option name="month" value="Septembre">Septembre</option>
        <option name="month" value="Octobre">Octobre</option>
        <option name="month" value="Novembre">Novembre</option>
        <option name="month" value="Décembre">Décembre</option>
      </select>

      <!-- Category Input -->
       <MDBInput type="text" required label="Type" name="montant" id="form4Email" v-model="form.category"
        wrapperClass="mb-4" />

      <!-- Submit button -->
      <MDBBtn color="primary" type="submit" block class="mb-4"> Send </MDBBtn>
    </form>

  </div>
</template>

<script>


import {
  MDBInput,
  MDBBtn,
} from "mdb-vue-ui-kit";
import { ref } from "vue";

export default {
  name: 'Add',

  // state
  data() {
    return {
      categories: {},
      form: {
        title: '',
        montant: '',
        month: '',
        category: '',
      }
    }
  },
  methods: {
    submitForm() {
      // On récupère l'ensemble des datas du form
      const data = { ...this.form };
      fetch('http://localhost:3000/addOperation', {
        method: 'POST',
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      }).then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok.')
        }
      }).catch(console.error)
    }
  },

  mounted() {
    fetch('http://localhost:3000/categories')
      .then(e => e.json())
      .then(e => {
        this.categories = e
      })

    fetch('http://localhost:3000/users/62791bc7fcd131c576de9dbc')
      .then(e => e.json())
      .then(e => {
        this.user = e
      });
  },
  components: {
    MDBInput,
    MDBBtn,
  },
  // MDBootstrap
  setup() {
    const form4Name = ref("");
    const form4Email = ref("");
    const form4Password = ref("");
    const form4Textarea = ref("");
    const form4CopyCheck = ref(true);

    return {
      form4Name,
      form4Email,
      form4Password,
      form4Textarea,
      form4CopyCheck
    };
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
