<template>
  <div class="hello">
    <router-link to="/login">Login</router-link>

    <MDBRow class="justify-content-around">
      <MDBCol col="6" sm="3">{{ this.user.username }}</MDBCol>
      <MDBCol col="6" sm="3">Budget : {{ this.budget }} €</MDBCol>
      <MDBCol col="6" sm="3">
        <MDBBtn color="link" size="sm" rounded class="fw-bold" :ripple="{ color: 'dark' }">
          <router-link to="/add">Ajouter</router-link>
        </MDBBtn>
      </MDBCol>
    </MDBRow>
    <MDBTable class="table-responsive align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Titre</th>
          <th>Montant</th>
          <th>Mois</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in this.operations" :key="index">
          <!-- Titre -->
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ item.title }}</p>
                <p class="text-muted mb-0">RÉFÉRENCE N°{{ index += 1 }}</p>
              </div>
            </div>
          </td>
          <!-- Montant -->
          <td v-if="item.montant > 0">
            <MDBBadge badge="success" pill class="d-inline">{{ item.montant }} €</MDBBadge>
          </td>
          <td v-if="item.montant < 0">
            <MDBBadge badge="danger" pill class="d-inline">{{ item.montant }} €</MDBBadge>
          </td>
          <!--Mois -->
          <td>
            <MDBBadge badge="success" pill class="d-inline">{{ item.month }}</MDBBadge>
          </td>
          <!-- Catégorie -->
          <td>{{ item.category }}</td>
        </tr>
      </tbody>
    </MDBTable>
  </div>

</template>

<script>


import {
  MDBTable,
  MDBBtn,
  MDBBadge,
  MDBCol,
  MDBRow,
} from 'mdb-vue-ui-kit';
export default {
  name: 'HelloWorld',

  // state
  data() {
    return {
      user: {},
      budget: 0,
      operations: []
    }
  },
  mounted() {
    fetch('http://localhost:3000/operations/user/62791bc7fcd131c576de9dbc').then(e => e.json())
      .then(e => {
        this.operations = [...e];

        const budget = e.map(e => e.montant).reduce((a, b) => a + b);
        this.budget = budget;
      })

    fetch('http://localhost:3000/users/62791bc7fcd131c576de9dbc')
      .then(e => e.json())
      .then(e => {
        this.user = e
      });
  },
  components: {
    MDBTable,
    MDBBtn,
    MDBBadge,
    MDBCol,
    MDBRow,
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
