<template>
  <div class="hello">
    <MDBBtn color="link" size="sm" rounded class="fw-bold" :ripple="{ color: 'dark' }">
      <router-link to="/">Retour</router-link>
    </MDBBtn>
    <form v-on:submit.prevent="submitForm" method="POST">
      <!-- Username input -->
      <MDBInput type="text" label="Username" name="username" id="form4Name" v-model="form.username"
        wrapperClass="mb-4" />

      <!-- Password Input -->
      <MDBInput type="password" required label="password" name="password" id="form4Password" v-model="form.password"
        wrapperClass="mb-4" />

      <!-- Submit button -->
      <MDBBtn color="primary" href="/" type="submit" block class="mb-4"> Login </MDBBtn>
    </form>

  </div>
</template>

<script>


import {
  MDBInput,
  MDBBtn,
} from "mdb-vue-ui-kit";
import { ref } from "vue";

export default {
  name: 'Login',

  // state
  data() {
    return {
      form: {
        user: '',
        password: '',
      },
      token: "",
    }
  },
  methods: {
    submitForm() {
      // On récupère l'ensemble des datas du form
      const data = { ...this.form };
      fetch('http://localhost:3000/user/login', {
        method: 'POST',
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      }).then(response => {

        // window.location.href = "/";
        if (!response.ok) {
          throw new Error('Network response was not ok.')
        }
        return response.json()
      }).then((response) => {
        this.token = response.token;
        console.log("token: ", this.token);
        fetch('http://localhost:3000/verify', {
          method: 'GET',
          headers: {
            "Access-Control-Allow-Headers": "Authorization",
            "Authorization": `Bearer ${this.token}`,
          }
        }).then((response) => {
          console.log("response avant JSON: ", response);
          return response.json()
        }).then((data) => {
          console.log(data)
        })
      }).catch((err) => console.error(err))

    }
  },

  // mounted() {
  //   fetch('http://localhost:3000/categories')
  //     .then(e => e.json())
  //     .then(e => {
  //       this.categories = e
  //     })
  // },
  components: {
    MDBInput,
    MDBBtn,
  },
  // MDBootstrap
  setup() {
    const form4Name = ref("");
    const form4Email = ref("");
    const form4Password = ref("");
    const form4Textarea = ref("");
    const form4CopyCheck = ref(true);

    return {
      form4Name,
      form4Email,
      form4Password,
      form4Textarea,
      form4CopyCheck
    };
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
