<template>
  <div class="hello">
    <MDBBtn color="link" size="sm" rounded class="fw-bold" :ripple="{ color: 'dark' }">
      <router-link to="/">Retour</router-link>
    </MDBBtn>
    <form v-on:submit.prevent="submitForm2" method="POST">
      <!-- Username input -->
      <MDBInput type="text" required label="Username" name="username" id="form4Name" v-model="form.username" wrapperClass="mb-4" />

      <!-- Password input -->
      <MDBInput type="password" required label="Password" name="password" id="form4Email" v-model="form.password"
        wrapperClass="mb-4" />

      <!-- Submit button -->
      <MDBBtn color="primary" type="submit" block class="mb-4"> Send </MDBBtn>
    </form>

  </div>
</template>

<script>


import {
  MDBInput,
  MDBBtn,
} from "mdb-vue-ui-kit";
import { ref } from "vue";

export default {
  name: 'Register',

  // state
  data() {
    return {
      form: {
        username: '',
        password: '',
      }
    }
  },
  methods: {
    submitForm2() {
      // On récupère l'ensemble des datas du form
      const data = { ...this.form };
      fetch('http://localhost:3000/user/signup', {
        method: 'POST',
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      }).then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok.')
        }
      }).catch(console.error)
    }
  },
  components: {
    MDBInput,
    MDBBtn,
  },
  // MDBootstrap
  setup() {
    const form4Name = ref("");
    const form4Email = ref("");
    const form4Password = ref("");
    const form4Textarea = ref("");
    const form4CopyCheck = ref(true);

    return {
      form4Name,
      form4Email,
      form4Password,
      form4Textarea,
      form4CopyCheck
    };
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
